@font-face {
  font-family: "rubri";
  src: url("../fonts/RubrikNew-Regular.ttf");
  src: url("../fonts/RubrikNew-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "rubri",sans-serif;
}

.bg-section {
  background: #fff;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div-main {
  position: relative !important;
}

.input-main {
  border: 1px solid #23519c;
  padding: 0.8rem 1rem;
  width: 100%;
  outline: none !important;
}

.p-title {
  text-align: center;
  color: #c80163;
  font-size: 2.2rem;
}

.label-main {
  position: absolute;
  top: -15px;
  left: 10px;
  padding: 0 0.5rem;
  background: #ffffff;
  color: #23519c;
  z-index: 1;
}

.bg-div {
  width: 25%;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 2px #bdbdbd;
          box-shadow: 0 0 10px 2px #bdbdbd;
  padding: 1rem 2rem 3rem 2rem;
}

.color-btn {
  background-color: #c80163;
}

.btn-circle {
  border-radius: 20px;
  color: white !important;
  padding: 0.45rem 2rem;
}

.d-flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.a-title {
  color: #23519c !important;
  border-bottom: 1px solid #23519c;
  text-decoration: none !important;
}

.color-check {
  color: #23519c !important;
}

.ojito-btn {
  position: absolute;
  right: 0;
  height: 100%;
  border: none;
  background: transparent;
  outline: none !important;
}

.header {
  position: absolute;
  width: 100%;
}

.header-div {
  border-bottom: 1px solid #dedede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-text {
  color: #23519c;
  font-size: 2.2rem;
}

.autoimmat-div1 {
  width: 20%;
  margin: 0 1rem;
}

.logo-wight {
  width: 230px;
}

.color-blue {
  color: #23519c;
  font-weight: bold;
}

.color-text {
  color: #7c8c97;
  font-weight: bold;
}

.autoimmat-div2 {
  width: 80%;
  margin: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-desktop {
  display: none;
}

.no-movil {
  display: block;
}

@media only screen and (max-width: 1440px) {
  .header {
    position: relative;
    width: 100%;
  }
  .p-text {
    font-size: 1.8rem;
  }
  .bg-section {
    height: auto;
    padding: 2rem;
  }
  .bg-div {
    width: 40%;
  }
}

@media only screen and (max-width: 1370px) {
  .bg-section {
    padding: 1rem;
  }
}

@media only screen and (max-width: 900px) {
  .bg-div {
    width: 60%;
  }
  .no-movil {
    display: none;
  }
  .no-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .bg-div {
    width: 90%;
  }
  .p-text {
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style-login.css.map */