@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

.listael {
    margin-bottom: 0px;
    position: relative;
}

.lista-imguploads {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: center;
    place-items: center;
}

.contenedor-cargarimagen {
    height: 150px;
    width: 300px;
    margin-bottom: 60px;
}

.envoltura-cargarimagen {
    position: relative;
    height:150px;
    width:100%;
    border-radius:10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.envoltura-cargarimagen.active {
    border: none;
}

.imagen-cargada {
    position: absolute;
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagen-cargada img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.icono-nube {
    width: 50px;
    height: 50px;
}

.icono-imagen {
    font-size: 50px;
    color: #9658fe;
}

.texto-imagen {
    font-size: 13px;
    font-weight: 70;
    color: #5b5b7b;
}

.envoltura-cargarimagen .cancelupimg {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.407);
    display: none;
    width:20px;
    height:20px;
    border-radius: 5px;
}

.imgbntcancel {
    width:10px;
    height:10px;
}

.envoltura-cargarimagen.active:hover .cancelupimg {
    display:block;
}

.nombre-imagen {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: #fff;
    padding: 8px 0;
    font-size: 18px;
    background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
    display: none;
}

.envoltura-cargarimagen.active:hover .nombre-imagen {
    display: block;
}

.btnuploadbn {
    margin-top: 10px;
    width: 100%;
    height: 30px;
    display: block;
    border: none;
    outline: none;
    border-radius: 25px;
    color:#fff;
    font-size:12px;
    font-weight: 90;
    letter-spacing:1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg, #3a8ffe 0%, #9658fe 100%);
}

.aprbtnguardar {
    position: relative;
    float: right;
    margin-bottom:50px;
}

.dragover {
    border: 2px dashed #000;
}

.lista-mails {
    border-bottom: 1px solid silver;
}

.mail-wrapper {
    border-top: 1px solid silver;
}

.mail {
    margin-top:0px;
    padding-top:0px;
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

.mail-titulo {
    float: left;
    overflow: hidden;
}

.mail-mensaje {
    float: left;
    overflow: hidden;
}

.mail-tiempo {
    float: left;
    overflow: hidden;
}

.iabrirmail {
    font-size: 1.8em;
    color: orange;
}

.ideletemail {
    font-size: 1.8em;
    color: red;
}

.mail-iconos-envoltura {
    float: right;
}

.boton-abrirmail {
    background-color: transparent;
    border-radius: 5px;
    border: none;
    float: left;
}

.boton-eliminarmail {
    background-color: transparent;
    border-radius: 5px;
    border: none;
}

.boton-eliminaropenemail{
    background-color: transparent;
    border-radius: 5px;
    border: none;
    float: right;
}

.ver-mensaje {
    display: none;
}

.crearmensajeel {
    margin-top: 10px;
}

.cuerpomsj {
    display: block;
    width: 100%;
    height: 150px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.checkbox-permisos {
    margin-top: 12px;
}

.permisologia-btnguardar {
    float: right;
}

.bmsjguardar {
    float: left;
}

.bmsjvolver {
    float: right;
}

.bmsjresponder {
    float: left;
}

.navinferior {
    margin-left: 20px;
}

.finalcollapsed {
    margin-left: 20px;
}

.downicon {
    font-size: 0.8em;
    margin-left: 10px;
}

.listaclientes {
    border: none;
    background-color: white;
    color: #858796;
}

.navclientes {
    margin-top: 5px;
    margin-bottom: 5px;
}

@media all and (max-width: 600px) {
    .mail-mensaje { display: none; }
    .mail-tiempo { display: none;}
}

.list-scrollable {
    border: 1px solid #d1d3e2;
    margin: 5px;
    padding: 10px;
    overflow: auto;
    height:150px;
}

.checkbox-monedas {
    margin-right: 12px;
    margin-left: 12px;
}

.icono-persona {
    font-size: 1.2em;
}

.icono-casa {
    font-size: 1.3em;
}

.icono-adduser {
    width: 40px;
    height: 40px;
}

.boton-agregarcliente {
    height: 38px;
}

.filtros-radios-lista-clientes {
    margin-top: 7px;
}

.list-scrollable-filtros {
    border: 1px solid #d1d3e2;
    margin: 5px;
    padding: 10px;
    overflow-y: scroll;
    height:100px;
}

.icono-persona-filtro {
    width: 13px;
    height: 13px;
}

.icono-casa-filtro {
    width: 15px;
    height: 15px;
}

.entries-tablaclientes {
    margin-bottom: 10px;
}

.icono-persona-tabla {
    font-size: 1.5em;
}

.icono-casa-tabla {
    font-size: 1.5em;
}

.icono-ojo-tabla {
    font-size: 1.5em;
    color: purple;
}

.centrarojo-tabla {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.centrartipo-tabla {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centrarestado-tabla {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.icono-delete-tabla {
    font-size: 1.5em;
    color: red;
}

.centrardelete-tabla {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.boton-tabla-cliente {
    border: none;
    background-color: #fff;
    width: 25px;
    height: 25px;
}

.addclienteinput {
    margin-bottom: 20px; 
}

.inputtipo-agregarcliente {
    margin-top: 10px;
}

.inputestado-agregarcliente {
    margin-top: 10px;
}

.btn-guardar-seguridad {
    margin-top: 20px;
    float: right;
}

.btn-copiar-seguridad {
    float: right;
}










